<div class="container centered">
  <img src="/assets/circle.png"/>
  <h1>Circle Academy</h1>
  <h2>Level up your coding game.</h2>
  <div class="social">
    <a href="https://github.com/CircleAcademy" href="_blank">
      <i class="fa fa-github"></i> @CircleAcademy
    </a>
    <a href="mailto:hello@chriscates.ca" href="_blank">
      <i class="fa fa-envelope-o"></i> hello@chriscates.ca
    </a>
  </div>
</div>
<div class="container-wrap">
  <div class="container">

  </div>
</div>
<div class="container">
  <h1>Want to write high performance code?</h1>
  <h2 class="margin">Circle Academy helps you write better code. Faster. Leaner. And Elegantly.</h2>
  <h2>Learn any of these following languages:</h2>

  <h3><a class="button">C/++</a></h3>
  <p>The gold standard for systems level programming. Pretty much
    everything is built on ANSI C or C++ these days. Learn
  how to manage memory. Data structures and write high performance code.</p>

  <h3><a class="button">Java/Scala</a></h3>
  <p>
    The JVM ecosystem is robust and powerful. Learn how to use the
    most powerful tools in Java. Learn data structures and how to
    write performant code.
  </p>

  <h3><a class="button">Golang</a></h3>
  <p>
    A staple language for writing high performance multi threaded
    programs. Golang is an excellent general purpose language.
  </p>

  <h3><a class="button">Elixir</a></h3>
  <p>
    Erlang/Elixir is the ultimate networking language.
    Write high performance network based application in Elixir.
    Designed specifically for web.
  </p>

  <h3><a class="button">SQL</a></h3>
  <p>
    MySQL, Postgres and SQLite are the gold standard for
    data storage and high throughput concurrent read/writes.
    Learn how to traverse complex queries and other things.
  </p>

  <h3><a class="button">Node.js</a></h3>
  <p>
    Javascript and Node.js are the defacto standard for front end
    based applications. Learn to write React/Redux and Angular 4
    web apps.
  </p>

  <h3><a class="button">Swift</a></h3>
  <p>
    Swift 3 is the gold standard for iOS applications.
    Build clean scalable iOS apps.
  </p>

  <h3><a class="button">Python</a></h3>
  <p>
    The Python and PyPi toolkit are unbeatable. Learn how to write
    Python and utilize the Python ecosystem.
  </p>

  <h1 class="margin-top">Want to get started?</h1>
  <h3>
    Email:
    <a href="mailto:hello@chriscates.ca" href="_blank">
      <i class="fa fa-envelope-o"></i> hello@chriscates.ca
    </a>
  </h3>
</div>

<div class="container-wrap">
  <div class="container">

  </div>
</div>

<div class="container">
  <img src="/assets/circle.png"/>
  <div class="social">
    <a href="https://github.com/CircleAcademy" href="_blank">
      <i class="fa fa-github"></i> @CircleAcademy
    </a>
    <a href="mailto:hello@chriscates.ca" href="_blank">
      <i class="fa fa-envelope-o"></i> hello@chriscates.ca
    </a>
  </div>
</div>
