$g1: #F9F9F9;
$g2: #F4F4F4;
$g3: #CBCBCB;
$b1: #327CCB;

body {
  max-width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0px;
  background-color: $g1;
  color: #545454;
}

h1, h2, h3 {
  font-weight: 400;
}

div.container {
  width: 100%;
  max-width: 768px;
  margin: auto;
  padding: 15px;
}

a {
  color: $b1;
  text-decoration: none;
}

a.button {
  margin: 10px 0;
  color: white;
  background: $b1;
  text-decoration: none;
  width: 100px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 700;
}
